html {
    height: 100%;
}

body {
    align-items: center;
    background-image: url(../images/pattern-bg.svg), url(../images/pattern-quotes.svg), url(../images/pattern-curve.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    /* background-position: 105vh 2vw, 40vh 12vw, 0vh 37vw; */
    background-position: 750px 30px, 350px 200px, 0px 575px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.container {
    align-items: center;
    /* border: 1px solid #000000; */
    display: flex;
    width: 80%;
    height: 500px;
}

.description {
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 300;
    width: 52%;
    position: relative;
    left: 100px;
    z-index: 5;
}

.images {
    box-shadow: 10px 1px 40px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    left: 3%;
    z-index: 1;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
}

.position {
    color: hsl(240, 18%, 77%);
    font-size: 1.5rem;
}

#buttons {
    display: flex;
    left: 50px;
    position: absolute;
    bottom: -30px;
    width: fit-content;
}

#john {
    position: absolute;
    visibility: hidden;
}

#next, #prev {
    background-color: #FFFFFF;
    border: none;
    height: 55px;
    margin: 0;
    outline: none;
    width: 70px;
}

#next {
    border-radius: 0 50px 50px 0;
}
#prev {
    border-radius: 50px 0 0 50px;
}

#next:hover, #prev:hover {
    background-color: #ffffff96;
    cursor: pointer;
}

@media screen and (min-width: 374px) and (max-width: 1200px) {
    html {
        height: 100%;
    }
    body {
        background-position: 10px 35px, 210px 600px, 0 1070px;
        background-size: 140%, auto, 100%;
        height: fit-content;
        width: fit-content;
    }

    p {
        margin: 80px 0;
    }

    span {
        display: block;
        margin-top: 5px;
    }

    .attribution {
        position: relative;
    }

    .container {
        flex-direction: column-reverse;
        height: max-content;
        margin-top: 90px;
        width: 100%;
    }

    .description {
        left: 0;
        margin-top: 70px;
        text-align: center;
        width: 95%;
    }

    .images {
        left: 0;
        width: 75%;
    }

    #buttons {
        left: 34%;
    }

    #john {
        width: 100%;
    }
}